:root{
    --first-color: #0a2d46;
    --scound-color: #f9f9f9;
    --third-color: #fff16ee0;
    --fourth-color: #1b037b;
    --fifth-color : ;
}
body{
    direction: rtl;
}
.header-navbar{
    position: relative;
}
.navbar-brand a,
.navbar-brand{
    width: 180px;
    height: 80px;
}
.navbar-brand a img{
    width: 100%;
    height: 100%;
}
div#navbarContent {
    height: 80px;
}
.navbar-nav.links .nav-item{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-expand .navbar-nav .nav-link,
.navbar-nav.buttons .nav-item a{
    padding: 0px;
    color: var(--scound-color);
    font-size: 16px;
    font-weight: 700;
}
.navbar-nav.buttons .nav-item{
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav.buttons .nav-item a{
    padding-bottom: 5px;
}
.navbar-nav.buttons .nav-item:first-child{
    border: 1.7px var(--third-color) solid;
}
.navbar-nav.buttons .nav-item:last-child{
    background-color: var(--third-color);
    border: 1.5px var(--third-color) solid;
}
.navbar-nav.buttons .nav-item:last-child a{
    color: var(--first-color);
}
.navbar-nav .nav-item{
    position: relative;
}
.navbar-nav.links .nav-item a::after{
    transition: 0.7s ease;
    content: "";
    width: 0;
}
.navbar-nav.links .nav-item:hover a::after {
    position: absolute;
    content: "";
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 63px;
    right: 0;
    height: 1.8px;
    border-radius: 8px;
    background-color: var(--scound-color);
}
.header-background{
    position: absolute;
    width: 100%;
    height: 100%;
}
.header-background img{
    width: 100%;
    height: 100%;
}
/* connect us form */
.form-box{
    margin: 50px 0px;
}
.form-box .container .row{
    position: relative;
    justify-content: end;
}
.contact-form{
    position: absolute;
    top: 79px;
    right: 20%;
    z-index: 1;
    border-radius: 15px;
    background: var(--first-color);
}
.form-group{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
}
form h3{
    color: var(--third-color);
    text-align: center;
    padding: 15px;
    font-weight: 800;
}
.form-group input{
    color: var(--scound-color);
    background-color: var(--first-color);
    font-size: 15px;
    font-weight: 500;
}
.form-group label{
    font-size: 16px;
    font-weight: 800;
    color: var(--third-color);
}
.form-control:focus {
    color: var(--scound-color);
    background-color: var(--first-color);
    border-color: var(--bs-gray-500);
    outline: 0;
    box-shadow: 0px 0px 6px 4px rgb(13 110 253 / 12%);
}
.form-control{
    background: var(--first-color);
    font-size: 12px;
    font-weight: 600;
}
.form-check-label{
    color: var(--scound-color);
}
input#chackForm {
    background-color: var(--third-color);
}
.form-check-input:focus {
    border-color: var(--third-color);
    outline: 0;
    box-shadow: 0px 0px 6px 4px rgb(13 110 253 / 12%);
}
.btn-link:hover {
    color: var(--first-color);
}
.btn-link{
    background: var(--third-color);
    color: var(--first-color);
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 42%;    ;
    font-size: 16px;
    font-weight: 600;
}
.img-form{
    padding-left: 5%;
}
.img-form img{
    width: 100%;
    height: 100%;
}
/* footer box */
footer{
    background-color: var(--first-color);
}
.social-links a i{
    font-size: 20px;
    font-weight: 900;
    color: var(--scound-color);
}
.footer-info-item1 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: var(--scound-color);
}
.footer-info-item1 p,
.footer-info-item2 ul li a,
.footer-info-item2 ul li{
    font-size: 15px;
    font-weight: 600;
    color: var(--scound-color);
    list-style-type: none;
    text-decoration: none;
}
.footer-info-item1{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border-bottom: 2px var(--first-color) solid;
}
.footer-info-item2{
        border-top: 2px var(--first-color) solid;
        margin-top: 20px;
        padding: 10px 0px;
    }