:root{
    --first-color: #0a2d46;
    --scound-color: #f9f9f9;
    --third-color: #fff16ee0;
    --fourth-color: #1b037b;
    --fifth-color : ;
}
body{
    direction: rtl;
}
header{
    position: relative;
}
.navbar-brand a,
.navbar-brand{
    width: 180px;
    height: 80px;
}
.navbar-brand a img{
    width: 100%;
    height: 100%;
}
div#navbarContent {
    height: 80px;
}
.navbar-nav.links .nav-item{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-expand .navbar-nav .nav-link,
.navbar-nav.buttons .nav-item a{
    padding: 0px;
    color: var(--scound-color);
    font-size: 16px;
    font-weight: 700;
}
.navbar-nav.buttons .nav-item{
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav.buttons .nav-item a{
    padding-bottom: 5px;
}
.navbar-nav.buttons .nav-item:first-child{
    border: 1.7px var(--third-color) solid;
}
.navbar-nav.buttons .nav-item:last-child{
    background-color: var(--third-color);
    border: 1.5px var(--third-color) solid;
}
.navbar-nav.buttons .nav-item:last-child a{
    color: var(--first-color);
}
.navbar-nav .nav-item{
    position: relative;
}
.navbar-nav.links .nav-item a::after{
    transition: 0.7s ease;
    content: "";
    width: 0;
}
.navbar-nav.links .nav-item:hover a::after {
    position: absolute;
    content: "";
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 63px;
    right: 0;
    height: 1.8px;
    border-radius: 8px;
    background-color: var(--scound-color);
}
.header-background{
    position: absolute;
    width: 100%;
}
.header-background img{
    width: 100%;
    height: auto;
}
.header-information{
    height: 280px;
}
.main-info{
    z-index: 1;
    position: absolute;
    margin: 0 auto;
}
.main-info-title{
    display: inline-block;
    font-weight: 900;
    font-size: 38px;
    color: var(--scound-color);
}
.main-info-text {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    color: var(--scound-color);
    margin-top: 25px;
}
.main-info-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-info-link a{
    width: 120px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 11px;
    margin: 25px 0px;
}
.main-info-link a:first-child{
    border: 1px var(--third-color) solid;
    color: var(--scound-color);
    margin-left: 25px;
}
.main-info-link a:last-child{
    background-color: var(--third-color);
    color: var(--first-color);
    border-radius: 10px;
    border: 1.6px var(--third-color) solid;
}
/* services */
.services div .card{
    box-shadow: 1px 0px 5px -1px var(--scound-color);
    background-color: var(--scound-color);
    transition: 0.6 ease;
}
.services div .card:hover{
    background-color: var(--third-color);
    z-index: 100;
}
.card-header{
    background-color: transparent;
    border-bottom: 0px;
}
.card-header i{
    font-size: 50px;
    color: var(--first-color);
}
.card-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--first-color);
    margin-bottom: 20px;
}
.card-text {
    font-weight: 500;
    font-size: 14px;
    color: var(--first-color);
}
/* about box */
.about-page{
    background-color: var(--scound-color);
}

.about-page .container .row{
    padding: 15px;
}
.about-title h3{
    display: inline-block;
    font-size: 30px;
    font-weight: 800;
    color: var(--first-color);
}
.about-title p{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: var(--first-color); 
    margin: 25px 0px; 
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.about-link a{
    width: 150px;
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px;
}
.about-link a:first-child{
    color: var(--first-color);
    border: 2px var(--fourth-color) solid;
    border-radius: 10px;
}
.about-link a:last-child{
    background-color: var(--fourth-color);
    color: var(--third-color);
    border-radius: 10px;
}
/* footer box */
footer{
    background-color: var(--fourth-color);
    border-radius: 55% 55% 0px 0px;
}