:root{
    --first-color: #0a2d46;
    --scound-color: #8dcaff;
    --third-color: #e8f8e0;
    --fourth-color: #cbdbea8a;
    --fifth-color : #ebf8e4f3;
}
body{
    direction: rtl;
}
header {
    background-color: var(--third-color);
    border-radius: 0px 0px 48% 0px;
}
.navbar-brand a,
.navbar-brand{
    width: 180px;
    height: 80px;
}
.navbar-brand a img{
    width: 100%;
    height: 100%;
}
div#navbarContent {
    height: 80px;
}
.header-navbar{
    border-bottom: 1.5px var(--first-color) solid;
}
.navbar-nav.links .nav-item{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-expand .navbar-nav .nav-link,
.navbar-nav.buttons .nav-item a{
    padding: 0px;
    color: var(--first-color);
    font-size: 16px;
    font-weight: 700;
}
.navbar-nav.buttons .nav-item{
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav.buttons .nav-item a{
    padding-bottom: 5px;
}
.navbar-nav.buttons .nav-item:first-child{
    border: 1.7px var(--first-color) solid;
}
.navbar-nav.buttons .nav-item:last-child{
    background-color: var(--first-color);
    border: 1.5px var(--first-color) solid;
}
.navbar-nav.buttons .nav-item:last-child a{
    color: var(--scound-color);
}
.navbar-nav .nav-item{
    position: relative;
}
.navbar-nav.links .nav-item a::after{
    transition: 0.7s ease;
    content: "";
    width: 0;
}
.navbar-nav.links .nav-item:hover a::after {
    position: absolute;
    content: "";
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 63px;
    right: 0;
    height: 1.8px;
    border-radius: 8px;
    background-color: var(--scound-color);
}
/* فرم ورود modal  */
section.modal-content{
    background-color: var(--fifth-color);
}
.social-links a i{
    font-size: 28px;
    color: var(--fifth-color);
    background-color: var(--first-color);
    border-radius: 47%;

}
.modal-header,
.modal-footer{
    border-top: 1px var(--first-color) solid;
    border-bottom: 1px var(--first-color) solid;
}
.modal-header h3,
.modal-body form input,
.modal-body form label{
    color: var(--first-color);
} 
.header-information .main-img img{
    width: 100%;
    height: 100%;
}
.header-information{
    height: 500px;
}
.main-info-title{
    display: inline-block;
    font-weight: 900;
    font-size: 38px;
    color: var(--first-color);
}
.main-info-text {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    color: var(--first-color);
    margin-top: 25px;
}
.main-info-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-info-link a{
    width: 120px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 11px;
    margin: 25px 0px;
}
.main-info-link a:first-child{
    background-color: var(--first-color);
    border: 1px var(--first-color) solid;
    color: var(--third-color);
    margin-left: 25px;
}
.main-info-link a:last-child{
    background-color: var(--third-color);
    color: var(--first-color);
    border-radius: 10px;
    border: 1.6px var(--first-color) solid;
}
/* services */
.services div .card{
    box-shadow: 1px 0px 5px -1px var(--scound-color);
}
.card-header{
    background-color: transparent;
    border-bottom: 0px;
}
.card-header i{
    font-size: 50px;
    color: var(--scound-color);
}
.card-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--first-color);
    margin-bottom: 20px;
}
.card-text {
    font-weight: 500;
    font-size: 14px;
    color: var(--first-color);
}
/*  clients*/
.clients{
    margin-top: 20px;
}
.owl-carousel .owl-item{
    width: 130px;
    height: 45px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 130px;
    height: 50px;
}
.owl-stage {
    transform: translate3d(-7px, 0px, 0px);
}
/* footer */
footer{
    background-color: var(--fifth-color);
    border-radius: 55% 55% 0px 0px;
}