body{
    direction: rtl;
}
:root{
    --first-color: #0a2d46;
    --scound-color: #f9f9f9;
    --third-color: #fff16ee0;
    --fourth-color: #1b037b;

}
.login{
    position: relative;
    height: 400px;
    margin: 0 auto;
    top: 130px;
}
.login section.row{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.login-box1,
.login-box2{
    position: absolute;
}
.login-box1{
    background-color: var(--scound-color);
    color: var(--first-color);
    height: 100%;
    box-shadow: -1px 7px 50px 1px rgb(0 0 0);
}
.login-box2{
    background-color: var(--first-color);
    color: var(--scound-color);
    height: 70%;
    bottom: 15%;
    box-shadow: 1px -1px 3.7px 1px var(--fourth-color);
}
.login-box1 .title h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links{
    position: absolute;
    bottom: 6px;
    right: 114px;
}
.social-links a{
    color: var(--first-color);
    font-size: 25px;
    font-weight: 900;
}
.form-group input{
    width: 300px;
    padding: 8px;
    background-color: var(--first-color);
    font-size: 14px;
    font-weight: 700;
}
.form-group label{
    font-size: 16px;
    font-weight: 700;
    color: var(--scound-color);
}
.form-control:focus{
    background-color: var(--first-color);
    color: var(--scound-color);
    box-shadow: 0px -1px 5px 1px rgb(249 249 249 / 9%);
    border-color: transparent;
}
input[type="submit"] {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--scound-color);
    border: 1px var(--scound-color) solid;
    box-shadow: -1px -1px 1px 2px rgb(0 0 0);
}
section.background-img{
    position: absolute;
    height: 660px;
}
section.background-img img{
    width: 100%;
    height: 100%;
    border-radius: 0% 25%;
}