:root{
    --first-color: #0a2d46;
    --scound-color: #f9f9f9;
    --third-color: #fff16ee0;
    --fourth-color: #1b037b;
    --fifth-color : #d4e7f4;
}
 body{
    direction: rtl;
    background-color: var(--scound-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}
.navbar-brand a,
.navbar-brand{
    position: relative;
    width: 180px;
    height: 80px;
}
.navbar-brand a img{
    width: 100%;
    height: 100%;
}
div#navbarContent {
    height: 80px;
}
.navbar-nav{
    flex-direction: column;
    padding: 0px;
    position: absolute;
    right: 15px;
}
.nav-item{
    border-radius: 50px;
    background-color: var(--fifth-color);
    padding: 5px 9px;
    margin-bottom: 10px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
.nav-link i{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
    color: var(--first-color);
    height: 100%;
    overflow: hidden;
}
.nav-link span{
    opacity: 0;
    visibility: hidden;
    width: 0px;
    transition: 0.3s ease;
}
.nav-item a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nav-item:hover span{
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 100%;
    opacity: 1;
    visibility: visible;
}
/* Home */
#home{
    position: relative;
    width: 100%;
    height: 100vh;
}
#home:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#home img{    
    position: absolute;
    width: 65%;
    top: 0;
    left: 0;
}
#home div.container{
    z-index: 2;
    position: absolute;
    top: 28%;
    right: 25%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 300px;
}
.person-name h1{
    margin: 0;
    font-size: 64px;
    font-weight: 800;
    line-height: 56px;
    color: var(--first-color);
}
.personal-skills p{
    color: var(--first-color);
    margin: 15px 0 0 0;
    font-size: 26px;
}
.social-links {
    margin-top: 30px;
    align-items: baseline;
    font-size: 23px;
}
.social-links a {
    display: inline-block;
    color: var(--first-color);
    line-height: 1;
    margin-left: 15px;
    margin-top: 10px;
    transition: 0.3s;
}
/* personal information */
.person-info-img {
    margin: 0px 0px 0px 50px;
}
.person-info-img img{
    width: 100%;
    height: 100%;
}
.box-title{
    width: 170px;
    margin: 30px auto 70px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-title h3 {
    font-weight: 700;
    font-size: 25px;
    color: var(--first-color);
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.box-title::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--first-color);
    top: 48px;
    right: 0;
    position: absolute;
}
.box-title::before{
    content: "";
    width: 40%;
    height: 2px;
    top: 48px;
    right: 0;
    position: absolute;
    background-color: var(--third-color);
    z-index: 1;
    right: 48px;
}
.person-info-title{
    display: grid;
}
.person-info-title h4,
.person-info-title p{
    display: inline-block;
    color: var(--first-color);
}
.person-info-title h4{
    width: 170px;
    white-space: nowrap;
    font-weight: 800;
    font-size: 25px;
}
.person-info-title p{
    width: 650px;
    white-space: nowrap;
    overflow: auto;
    font-weight: 500;
    font-size: 14px;
    color: var(--first-color);
}
.detail-list1 ul li,
.detail-list2 ul li{
    display: flex;
    align-items: baseline;
    padding: 3px;
    font-size: 15px;
    font-weight: 600;
    color: var(--first-color);
    margin: 30px 0px;
    position: relative;
}
.detail-list1 ul li::before, .detail-list2 ul li::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--fourth-color);
    position: absolute;
    top: 20%;
    right: -30px;
    border-right-style: inset;
    border-radius: 10px;
    border-width: 5px;
    border-right-color: var(--third-color);
}
.detail-list1 ul li p:first-child,
.detail-list2 ul li p:first-child{
    font-size: 18px;
    font-weight: 700;
}
.phoneNamber,
.personEmail{
    direction: ltr;
}
/* skills */
.skills-box ul li .progress div:first-child{
    background-color: var(--fourth-color);
}
.skills-box ul li{
    list-style-type: none;
    margin-top: 20px;
}
.skills-box ul li .progress p{
    font-size: 14px;
    margin: 0px;
}
/* about  */
.about-box-info-title h3{
    font-size: 28px;
    font-weight: 800;
    color: var(--first-color);
}
.about-box-info-item{
    position: relative;
}
.about-box-info-item::before{
    position: absolute;
    content: "";
    border-right: 2px var(--fourth-color) solid;
    width: 2px;
    height: 80%;
    top: 23px;
    right: -21px;
}
.about-box-info-item h4{
    font-size: 25px;
    font-weight: 800;
    color: var(--fourth-color);
    position: relative;
}
.about-box-info-item h4::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--third-color);
    border: 2px var(--fourth-color) solid;
    border-radius: 50%;
    top: 6px;
    right: -30px;
}
.about-box-info-item p,
.about-box-info-item ul{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;    
}

/* footer */
footer{
    background-color: var(--fifth-color);
}