@media only screen and (max-width:1100px){
    .main-info-title h2{
        font-size: 30px;
        font-weight: 800
    }
    .main-info-text {
        font-size: 13px;
    }
    .navbar-brand a, .navbar-brand {
        width: 150px;
        height: 70px;
    }
    .navbar-expand .navbar-nav .nav-link, .navbar-nav.buttons .nav-item a {
        font-size: 14px;
    }
    .header-background {
        height: 500px;
    }
    .services{
        margin-top: 0px;
    }
    .card-title {
        font-size: 18px;
    }
    .card-text {
        font-weight: 500;
        font-size: 12px;
    }
    .card-header i {
        font-size: 42px;
    }
    .services div .card {
        background-color: var(--third-color);
        z-index: 100;
    }
    .about-title h3 {
        font-size: 27px;
    }
    .about-title p {
        font-size: 13px;
        -webkit-line-clamp: 3;
    }
    .about-page .container .row{
        padding: 0px;
    }
    .about-information.col-lg-5 {
        margin: 20px 0px;
    }
    .about-link a {
        width: 120px;
        height: 40px;
    }
    .about-link a:first-child {
        margin: 0px;
    
    }
    .about-link a:last-child {
        margin-left: 0px;
    }
}